.btn-primary1 {
    padding: 14px 20px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color:#0654DB;
    @apply flex;
    @apply text-white;
    @apply font-bold;
}
.btn-primary2 {
    padding: 8px 35px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background-color:#CA4747;
    @apply flex;
    @apply text-white;
    @apply font-bold;
}
.btn-secondary {
    padding: 10px 26px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    background-color:#0654DB;
    @apply flex;
    @apply text-white;
    @apply font-bold;
}

.header1 {
    font-size: 48px;
    @apply inline-block;
    @apply font-extrabold;
    @apply text-primary;
}

.header2 {
    font-size: 24px;
    @apply inline-block;
    @apply font-extrabold;
}

.header3 {
    font-size: 18px;
    @apply inline-block;
    @apply font-bold;
}

.header4 {
    font-size: 16px;
    @apply inline-block;
    @apply font-bold;
}

.text-color-primary{
    color:#CA4747;
}

.text-color-secondary{
    color:rgba(32, 55, 94, 0.75);
}

.bg-color{
    background-color:#FDF8F4 ;
  }
  .input{
   border-radius:5px;
   background-color:#E5E5E5;
   }
   .btn-form{
    padding: 10px 40px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    background-color:#0654DB;
    @apply flex;
    @apply text-white;
    @apply font-bold;
  }

